.search_form {
  background-color: #fff;
  padding-top: 0.5rem;
  border-radius: 5px;
  position: sticky;
  top: 70px;
  box-shadow: 5px 3px 20px rgba(199, 199, 199, 0.45);
  z-index: 99;
  input[type="search"] {
    padding: 0 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
    border-bottom: 1px solid transparent !important;
    &:focus {
      background-color: transparent !important;
      border-bottom: 1px solid #0969cc !important;
    }
  }
  @media screen and (max-width: 480px) {
    top: 63px;
    input[type="search"] {
      padding: 0 3rem;
      width: 70%;
    }
  }
}

body.dark {
  .search_form {
  background-color: $dark_sub;
  box-shadow: $shadow_dark !important;
  input[type="search"] {
  border-bottom: 1px solid transparent !important;
  color: $yellow;
    &:focus {
      background-color: transparent !important;
      border-bottom: 1px solid transparent !important;
      color: #fff;
    }
  }

  .input-field input[type=search]:focus:not(.browser-default)+label i, 
  .input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close, 
  .input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
      color: #fff;
  }
  }
}