$gray: #707070;
$main: #0969cc;
$main_hover: #3184e9;
$bg: #f5f5f5;
$shadow: 5px 3px 20px rgba(199, 199, 199, 0.45);
$yellow: #ffab40;

$dark_bg: #24292e;
$dark_sub: #2f363d;
$shadow_dark: 5px 3px 20px rgba(0, 0, 0, 0.15);
