@import '../style/_vars.scss';
.tabs_wraper {
	position: sticky;
    top: 65px;
    z-index: 999;
}
.tab_content {
	margin-top: 20px;
	padding: 15px;
	background-color: #fff;
	animation: fadeIn 0.5s ease-in;
	@keyframes fadeIn {
		from {
			opacity: 0;
			visibility: hidden;
		}
		to {
			opacity: 1;
			visibility: visible;
		}
	}
	.tab_head {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		i {margin: 0 10px;}
	}
	
	.tab_body {
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.card {
			width: 48% !important;
			box-shadow: $shadow;
			position: relative;
			@media screen and (max-width: 767px) {
				width: 95% !important;
				margin-left: auto;
				margin-right: auto;
			}
			&.custom {
				text-align: center;
				padding: 1rem;
			}
			.delete_icon {
				position: absolute;
				top: -10px;
				right: 10px;
				background-color: rgba(238,110,115,0.7);
				padding: 3px;
				color: #fff;
				cursor: pointer;
				z-index: 56;
			}
			.card-image {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}
			.user_data {
				text-align: center;
				padding: 5px;
				span,
				h4 {word-break: break-all;}
			}
			.user_id {
				background-color: $dark_bg !important;
				color: #fff;
				word-break: break-all;
				font-size: 0.8rem;
				margin-top: 15px;
				padding: 5px !important;
			}
			img {
				max-width: 100%;
				max-height: 150px;
				object-fit: contain;
			}
			.card-action {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				padding: 10px !important;
				direction: ltr !important;
				a {
					margin: 5px !important;
					padding: 5px;
					background-color: $bg;
					color: $dark_bg !important;
					border-radius: 5px;
					text-transform: capitalize !important;
					&.admin {
						background-color: green;
						color: #fff !important;
					} 
					&.user {
						background-color: $main;
						color: #fff !important;
					} 
				}
			}
		}
	}
}

ul.tabs {
	padding: 0 20px;
	height: auto;
	min-height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

body.dark {
	.tab_content,
	ul.tabs {
		background-color: $dark_sub;
	}
	.tab_body .card {
		background-color: $dark_bg;
		box-shadow: none !important;
		.card-action a {
			background-color: $dark_sub !important;
			color: #fff !important;
			&.admin {
				color: rgba(238,110,115,0.9) !important;
			} 
			&.user {
				color: green !important;
			} 
		}
	}
}